.menu {
    background: #fae9d3;
    border-radius: 10px;
    top: 416px;
    left: 57px;
    padding: 20px;
    margin-right: 65px;
    width: 358px;
    height: 652px;
    text-align: left;
}

.line {
    border-top: 5px solid #a3665780;
    width: 168px;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    align-content: center;
}

.menu-header {
    font-family: Arial;
    font-size: 40px;
    color: #714344;
}

.menu-list {
    margin-bottom: 10px;
}

.menu-item {
    font-size: 24px;
    text-decoration: none;
    color: #714344;
}
