.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    min-height: 100vh;
    min-width: 100vh;
    background-color: #a36657;
    font-size: x-large;
    color: wheat;
}
